body {
  /* background-color: #E5E5E5; */
  background-color: #15202B;
  margin: 0;
}
h6 {
  color: #6C757D;
  font-size: 14px;
  line-height: 16px;
}
h4 {
  color: white;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 2px;
  font-weight: normal;
  font-family: Roboto;
  position: relative;
  bottom: 147px;
  right: 133px;
}

p {
  margin-bottom: 25px;
  margin-left: 15px;
  position: relative;
  bottom: 35px;
}

.navbar {
  position: absolute;
  width: 1076px;
  height: 58px;
  left: 182px;
  background: #343A40;
  border-radius: 6px;
}

li {
  list-style-type: none;
  font-weight: normal;
}
ul{
  display: flex;
  flex-direction: row;
}

.login {
  position: absolute;
  left: 42%;
  top: 40%;
}

.changeUser {
  position: relative;
  bottom: 119px;
  left: 397px;
  
}

input:focus{
  outline:none;
  padding-left: 10px;
}

.user{
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
  width: 600px;
  height: 61px;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
  position: relative;
  bottom: 140px;
  right: 134px;
}

.App {
  text-align: center;
  width: 600px;
  margin-left: 367px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  
}
.date{
  position: relative;
  bottom: 47px;
  left: 418px;
}
.loading {
  position: relative;
  top: 60px;
  left: 10px;
}

.tweet {
  background-color: #343A40;
  border-radius: 6px;
  min-height: 40px;
  width: 600px;
  font-size: 14px;
  color:white;
  margin-top: 1px;
  text-align: left;
  padding-left: 3px;
  box-sizing: border-box;
}

.createTweet {
  position: absolute;
  top: 76px;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
  height: 190px;
  width: 600px;
  font-size: 14px;
  line-height: 19px;
  color: #CCCCCC;
  display: block;
  margin-bottom: 30px;
}

.writeTweet {
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 550px;
  border: none;
  height: 150px;
  display: block;
  
}
textarea {
  outline: none;
  resize: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #CCCCCC;
}

.container {
  position: absolute;
  top: 250px;
}


textarea::placeholder {
  color: #CCCCCC;
}


button {
  font: 16px Roboto;
  line-height: 19px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background: #007BFF;
  border-radius: 4px;
  width: 68px;
  height: 34px;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
button:disabled {
  opacity: 0.4;
}

.tweetError {
  background: #F8D7DA;
  border: 1px solid #F5C6CB;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  display: hidden;
}

h5{
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-size: 14px;
  position: relative;
  bottom: 20px;
  font-family: Roboto;
  
}
h1{
  font-family: Roboto;
  font-size: 36px;
  color: white;
  font-weight: normal;
  position: relative;
  bottom: 193px;
  right: 137px;

}
